#no-mobile {
    position: fixed;
    height: 200vh;
    width: 100vw;
    top: 0;
    z-index: 99;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#no-mobile span {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
#no-mobile img {
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}



@media screen and (max-width: 850px) {
    #no-mobile {
        display: none;
    }
}